/*main frame*/
body {
	margin:0;
	padding:0;
	height:100%;
	font-family: 'Delius', cursive;
	background-color: #e2644a;
}

a:link {
	color:#000000;
	text-decoration: none;
}

a:visited {
	color:#434242;
}

.homebody a.homebody,
.aboutbody a.aboutbody,
.tutbody a.tutbody,
.quizbody a.quizbody {
	border-bottom: 3px dashed #f1d485;
}

.wrapper {
	width:1000px;
	height:100%;
	margin-left:150px;
	background-color: #e2644a;

}
.wrapper2 {
	margin-left:30px;
	margin-right:30px;
}

.content {
	background-color: #f1d485;
	height:480px;

}

.header {
	height:180px;
	margin-top:-20px;
	padding:0;
}

.header ul li {
	float:left;
	list-style:none;
	margin-top:130px;
	margin-right:12px;
}

.header a {
	opacity:0.87;
}

.header a:hover {
	opacity:1;
}

#logo {
	float:left;
}

.footer {
	height:50px;
	margin:0;
	width:100%;
}

.footer ul {
	margin-left:230px;
}
.footer ul li {
	float:left;
	list-style: none;
	margin:0px 20px 0px 20px;
	padding:0;
}

.footer p {
	margin-left:360px;
	font-size:10px;
	padding-bottom:7px;
}

h1 {
	width:700px;
	margin-left:50px;
	padding-top:30px;

}

/*home content*/
#homecontent{
	width:900px;

}

#welcomeimage {
	margin-left:70px;
}
/*home content end*/
/* latin */
@font-face {
  font-family: 'Delius';
  font-style: normal;
  font-weight: 400;
  src: local('Delius-Regular'), url(http://fonts.gstatic.com/s/delius/v6/bDpuiE0ncvY05_AsiZIWR3-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*tut content*/
#tutorials {
	margin:50px 0px 0px 50px;
}

#tutcontent {
	width:950px;
}

#tutorials a {
	margin-right:25px;
	opacity:0.87;
}

#tutorials a:hover {
	opacity:1;
}
#tutpic {
	float:right;
	margin-top:20px;
	margin-right:20px;
}

#tutdescription p{
	margin-left:55px;
	float:left;
	width:210px;
}

/*tut content end*/

/*video gallery*/



div#voverlay {
	
	/* growing background image */
	background-image:url(../img/white.png);
	
	/* dimensions after the growing animation finishes  */
	width:640px;
	height:480px;
	
	/* initially overlay is hidden */
	display:none;
	
	/* some padding to layout nested elements nicely  */
	padding:35px;
}

/* default close button positioned on upper right corner */
div#voverlay .close {
	background-image:url(../img/close.png);
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}

div#vcontainer{
	left:0;
	top:0;
	width:100%;
	height:100%;	
	background:url(../img/loading.gif) no-repeat 50% 50%;
}
/*video gallery end*/

/* about content*/
#aboutcontent p {
	width:550px;
	margin-left:50px;
	font-size:20px;


}

#aboutcontent a {
	color:#3166bc;
}


#aboutpic {
float:right;
margin-top:-380px;
margin-right:50px;
}
/* about content end*/

/*quiz content*/


 #quizcontent{
	width:900px;
}

#quiz {
	margin-left:100px;
	margin-bottom:50px;
}

#quizbutton {
	margin:50px 30px 0px 50px;
}

#quizbutton a {
	margin-right:50px;
	opacity:0.87;
}

#quizbutton a:hover {
	opacity:1;
}

#quizdescription {
	float:left;
	margin-left:70px;
	width:210px;
}

#quizdescription1 {
	float:left;
	margin-left:90px;
	width:210px;
}

#quizimg {
	float:right;
	margin-top:-150px;
	margin-right:50px;
}
/*quiz content end*/