.page.new-lineup > .content {
	width: 100%; max-width: 500px; margin: 0 auto;
}

.page.new-lineup > .content .field.keywords { display: none; }
.page.new-lineup > .content .field.keywords > .fields { }
.page.new-lineup > .content .field.keywords > .fields > .field.keyword {
	white-space: nowrap;
	overflow: hidden;
}
.page.new-lineup > .content .field.keywords > .fields > .field.keyword > input {
	display: inline-block; vertical-align: middle;
	width: 80%; height: 100%;
}
.page.new-lineup > .content .field.keywords > .fields > .field.keyword > button {
	display: inline-block; vertical-align: middle;
	width: 20%; height: 100%;
	color: #ff0000;
	background-color: transparent;
	overflow: hidden;
	font-size: 500%;
	line-height: 35px;
}